[Basic]
dataset = German_Credit
dataset_path = ../data/datasets/german_credit/german_numeric.data
dag_path = #../data/datasets/adult/adult.dag
explainer = DiCE
num_counterfactuals = 1
out_folder = ../data/counterfactuals/GERMAN/new_counterf/

[Classifier]
classifier = Logistic_Regression
desired_output = [ 0.0, 1.0 ]
loss = BCE
model_path = None

[Data]
target_column = Good/Bad
drop_columns = [ 'Property', 'Status of existing checking account', 'Credit history','Purpose', 'Savings account/bonds','Present employment since', 'Other debtors/guarantors', 'Property', 'Personal status and sex', 'Other installment plans','Housing', 'Telephone', 'Job']
set_na = [ ]
immutable_columns = [ 'Personal status and sex', 'Purpose', 'Foreign worker' ]
non_decreasing_columns = [ ]
non_increasing_columns = [ ]
nonactionable_columns = [ ]
log_transform = [  'Credit amount', 'Duration in month', 'Age in years' ]
softmax_temp = 0.01

[Vae]
model_path = None

[DiCE]
lr = 5e-2
iters = 200
prox_reg = 2.
dpp_reg = 1e4

[Bayes]
alpha = 0.7
laplace_iters = 1
x_lr = 5e-3
x_iters = 600

[GradualConstruction]
lr = 1e-2
iters = 500
prox_reg = 1.
dpp_reg = 5.
accuracy = 0.95

[FACE]
method = KNN
n_neighbors = 20
distance_threshold = 20

