[Basic]
dataset = SSL
dataset_path = ../data/datasets/ssl/ssl_numeric.csv
dag_path = #../data/datasets/adult/adult.dag
explainer = FACE
num_counterfactuals = 1
out_folder = ../data/counterfactuals/SSL/new_counterf/

[Classifier]
classifier = Logistic_Regression
desired_output = [ 0.0, 1.0 ]
loss = BCE
model_path = None

[Data]
target_column = SSL SCORE
drop_columns = []
set_na = []
immutable_columns = []
non_decreasing_columns = ['PREDICTOR RAT AGE AT LATEST ARREST', 'PREDICTOR RAT VICTIM SHOOTING INCIDENTS','PREDICTOR RAT VICTIM BATTERY OR ASSAULT', 'PREDICTOR RAT ARRESTS VIOLENT OFFENSES', 'PREDICTOR RAT NARCOTIC ARRESTS', 'PREDICTOR RAT UUW ARRESTS']
non_increasing_columns = [ ]
nonactionable_columns = [ ]
log_transform = [ ]
softmax_temp = 0.01

[Vae]
model_path = None

[DiCE]
lr = 5e-2
iters = 200
prox_reg = 2.
dpp_reg = 1e4

[Bayes]
alpha = 0.7
laplace_iters = 1
x_lr = 5e-3
x_iters = 200

[GradualConstruction]
lr = 1e-2
iters = 500
prox_reg = 1.
dpp_reg = 5.
accuracy = 0.95

[FACE]
method = KNN
n_neighbors = 20
distance_threshold = inf

